footer
    background-image: url('../images/footer_background.jpg')
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    #ftr-details
        margin: 0 15vh
    #ftr-pink
        background-color: $pink
        height: 10vh
