footer
    #ftr-details
        background-image: url('../images/footer_bottom_decoration_img.png'),url('../images/footer_background.jpg')
        background-repeat: repeat-x,no-repeat
        background-size: auto, cover
        background-position: top,center
        // 1er bg image: déco en dents
        // 2eme bg image: bg footer
        li
            @extend %ftr-li // placeholder tags
    #ftr-pink
        background-color: $pink
        height: 10vh
        // 2ème footer rose
