header
    background-image: url('../images/banner1.jpg')
    background-size: cover
    height: 90vh
    background-repeat: no-repeat
    background-color: #00000099
    background-blend-mode: darken
    h1
        font-family: 'Courgette'
        font-size: 3rem
        span
            font-size: 4rem
        #taste-p
            color: $pink