// Section TESTIMONIALS

#testimonials
    background-image: url('../images/testimonials_background.jpg')
    background-repeat: no-repeat
    background-color: #00000080
    background-blend-mode: darken
    height: 100%
    // Background image
    .testi-txt
        @extend %border //radius 14px
        .p-pink
            color: $pink //rose sur fonction "manager"
