#table-blog
    background-color: white
    background-image: url('../images/box-left-top-grey.png'), url('../images/box-right-top-grey.png'), url('../images/box-bottom-left-grey.png'), url('../images/box-bottom_right-grey.png')
    background-position: left top, right top, left bottom, right bottom
    background-repeat: no-repeat
    margin: 0 15vh

.table-form
    background-image: url('../images/book_table_bg.jpg')
    background-repeat: no-repeat
    background-position: center