// SECTION STORY + MENU LIST

#story-menu
    background-color: white
    background-image: url('../images/box-left-top.png'), url('../images/box-right-top.png'), url('../images/box-bottom-left.png'), url('../images/box-bottom_right.png') 
    background-position: left top, right top, left bottom, right bottom
    // Décorations dans les 4 coins
    background-repeat: no-repeat

    #menu
        .menu-bar
            .menu-g
                font-family: 'Courgette'
                .list-group-item
                    border: none
                    border-bottom: 1px solid $grey
                    color: #CCCCCC
                
            // Menu droite
            .menu-d
                display: grid
                // grid-template-columns: repeat(2,1fr)
                grid-template-columns: repeat(auto-fit, minmax(310px, 1fr))
                justify-content: space-evenly
                gap: 15px
                .choix-item
                    // Répartition en ligne de img+explications+prix
                    border-bottom: 1px dotted $grey
                    padding-bottom: 1vh
                    img
                        border: 5px solid $grey
                        border-radius: 50% //Image ronde
                    h5
                        margin: 0 10px
                    h6
                        font-weight: normal
                        margin: 0 10px
                    p
                        color: $pink
                        background-color: #CCCCCC
                        padding: 0 10px
                        display: inline
                        text-align: end