#testimonials
    background-image: url('../images/testimonials_background.jpg')
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    padding: 15vh

.p-pink
    color: $pink