// Section TABLE + BLOG

#table-blog
    background-image: url('../images/box-left-top-grey.png'), url('../images/box-right-top-grey.png'), url('../images/box-bottom-left-grey.png'), url('../images/box-bottom_right-grey.png')
    background-position: left top, right top, left bottom, right bottom
    background-repeat: no-repeat
    // Décorations dans les 4 coins
    // Partie formulaire
    #table-form
        input
            @extend %border //radius 14px
        button
            @extend %border //radius 14px
    // Partie blog
    #blog
        img
            @extend %border //radius 14px
        // Encadré rose 
        .card-title
            @extend .btn-p // Voir _main.sass: bgcolor, color, ...
            @extend %border //radius 14px
            bottom: 80%
            font-size: 14px
            span
                font-weight: bold
                font-size: 18px
