@media screen and (min-width:768px)
    #story-menu
        margin: 0 15vh
        #story
            margin: 0 40vh
            // Centrer le texte
    #table-blog
        margin: 0 15vh
    #testimonials
        padding: 10vh 15vh
    #contact-p
        margin: 8vh 35% //Centrement de la "boite rose"