@media screen and (min-width:768px)
    header
        .carousel
            h1
                font-size: 3rem
            span
                font-size: 4rem
    main
        #story-menu
            margin: 0 15vh
            #menu
                .menu-bar
                    grid-template-columns: repeat(auto-fit, 20% minmax(310px, 1fr))
                    .menu-d
                        .choix-item
                            display: flex
                            justify-content: center
                            align-items: center
                            img
                                display: inline

        #table-blog
            margin: 0 15vh
        #testimonials
            padding: 10vh 15vh
        #contact-p
            margin: 8vh 35% //Centrement de la "boite rose"

// MEDIA AU DELA DE 1024PX
@media screen and (min-width:1024px)
    main
        #story
            margin: 0 40vh
            // Centrer le texte
    footer
        #ftr-details
            padding: 10vh
