@media screen and (min-width: 320px)
    main
        #table-blog
            #table-form
                color: black
                width: 100%
        #testimonials
            padding: 2vh 1vh

@media screen and (min-width:768px)
    header
        .carousel
            h1
                font-size: 3rem
            span
                font-size: 4rem
    main
        #story-menu
            margin: 0 15vh
            #menu
                .menu-bar
                    grid-template-columns: repeat(auto-fit, 20% minmax(310px, 1fr))
                    .menu-d
                        .choix-item
                            display: flex
                            justify-content: center
                            align-items: center
                            img
                                display: inline

        #table-blog
            margin: 0 15vh
            #table-form
                color: white
                background-image: url('../images/book_table_bg.jpg')
                background-repeat: no-repeat
                background-position: center
                background-size: cover
                // Background image formulaire
                width: 65%
            #blog
                margin: 0 5vh
        #testimonials
            padding: 5vh 10vh
        #contact-p
            margin: 8vh 35% //Centrement de la "boite rose"
            width: 50%

// MEDIA AU DELA DE 1024PX
@media screen and (min-width:1024px)
    main
        #story
            margin: 0 40vh
            // Centrer le texte
        #table-blog
            #table-form
                br
                    display: none
            #blog
                margin: 0 15vh
        #testimonials
            padding: 10vh 15vh
        #contact-p
            width: 35%
    footer
        #ftr-details
            padding: 10vh

@media screen and (min-width:1440px)
    main
        #table-blog
            #blog
                .card-pink
                    right: 20%
