body
    margin: 0
    padding: 0
    background-image: url('../images/main_bg.jpg')


// Header
@import 'modules/_header.sass'

// Main
@import 'modules/_main.sass'

// Footer
@import 'modules/_footer.sass'

// Media queries
@import _media.sass
